.caja{
    border: solid 1px var(--primary-color);
    display: flex;
    align-items: center;
    width: 50%;
    height: 180px;
    color: var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
}
.titulo{
    font-size:23px;
}
.imagen_salon {
  width: 200px;   
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px; 
  
}
.info_principal{
    flex:1;
    margin-left: 5px;
}
.info_extra {
   display: flex;
  flex-direction: column;  
  align-items: flex-end;   
  justify-content: space-between; 
  margin-left: auto;
  height: 100%;   
  padding: 8px 0; 
  text-align: right;
}
.calificacion {
  display: flex;
  flex-direction: column;
  gap: 6px;              
  font-size: 14px;
}

.puntaje {
  font-size: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  padding: 2px 6px;
  font-weight: bold;
}

.precio {
  text-align: right;
  font-size: 20px;
}
.precio small {
  display: block;
  font-size: 12px;
  font-weight: normal;
}