.panel-usuarios {
  padding: 1.25rem;
  background-color: #F4F4F6;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.usuarios-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.no-results {
  padding: 3rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #787878;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  width: 100%;
  max-width: 1042px;
}

@media (max-width: 768px) {
  .usuarios-cards-container {
    padding: 0 10px;
  }
}
