.screen-wrapper {
    margin-top: 8%;
}

.screen-wrapper .title {
    background-color: #6A0DAD;
    color: #fff;
    padding: 2rem;  
    margin-bottom: 2rem;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
    align-items: flex-start; 
    padding-left: 4rem; 
}

.screen-wrapper .title h1 {
    font-size: 2rem; 
    margin-bottom: 0.5rem;
}

.screen-wrapper .title h2 {
    font-size: 1.3rem;
    font-weight: normal;
}

.screen-wrapper .logo {
    width: 30%;
    height: auto; 
    margin: 0.5rem;
}

.screen-wrapper .logos-row {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-bottom: 1.5rem;
}

.screen-wrapper .logo-group {
    position: relative; 
    margin-bottom: 1.5rem;
}

.screen-wrapper .logo-group h3 {
    color: #6A0DAD;
    font-size: 1.3rem;
    font-weight: bold; 
    margin-top: 0.5rem; 
    margin-bottom: 1rem;
    padding-left: 2%; 
    text-align: left; 
}