.privacidad-container {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  font-family: Arial, sans-serif;
  color: var(--primary-color);
  line-height: 1.6;
  margin-top: 1%;
}

.privacidad-card {
  width: 100%;
  max-width: 50rem;
  background: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 0.375rem;
  padding: 1.25rem;
}

.privacidad-card h1 {
  font-size: 1.8rem;
  margin-bottom: 0.625rem;
  text-align: center;
  font-weight: 600;
}

.privacidad-card .fecha {
  font-size: 0.9rem;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 0.5rem;
}

.privacidad-card .intro {
  text-align: justify;
  margin-bottom: 1.25rem;
}

.section {
  margin-bottom: 0.9375rem;
}

.section-header {
  width: 100%;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0;
  cursor: pointer;
  text-align: left;
  border-bottom: 0.0625rem solid #eee;
  color: var(--primary-color);
}

.section-content {
  display: none;
  margin-top: 0.5rem;
  padding-left: 0.625rem;
  font-size: small;
  color: var(--second-color);
}

.section-content.open {
  display: block;
}

.section-content p {
  margin-bottom: 0.5rem;
}

.section-content ul {
  list-style: disc;
  padding-left: 1.25rem;
}

.section-content ul li {
  margin-bottom: 0.375rem;
}
