body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

.registro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registro-container {
  background-color: #fff;
  border: 0.13rem solid var(--primary-color);
  border-radius: 1.25rem;
  padding: 2rem 1.85rem;
  width: 100%;
  max-width: 21.85rem;
  height: auto;
  box-shadow: 0 0 0.95rem rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

h1 {
  color: var(--primary-color);
  font-size: 1.7rem;
  margin-bottom: 1.85rem;
}

.registro-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}

.form-group input {
    padding: 0.63rem;
    font-size: 1rem;
}

.form-group button {
    margin-left: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;
}

.registro-form input {
  width: 100%;
  padding: 10px 0 10px 5px; 
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  color: var(--primary-color);
}

.registro-form input::placeholder {
  font-style: italic;
  font-size: 1rem;
  color: rgba(106, 13, 173, 0.3); 
}

.password-group {
    position: relative;
    width: 100%;
}

.password-group input {
    width: 100%;
    padding-right: 2.5rem;
    box-sizing: border-box;
}

.password-group .toggle {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1rem;
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
    padding-bottom: 2rem;
}

.password-group .toggle:hover {
  color: var(--second-color);
}

.form-group .error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: left;
  width: 100%;
  height: 1rem;
  visibility: hidden;
}

.form-group .error.active {
  visibility: visible;
}

.checkbox-group {
  display: flex;
  align-items: center; 
  gap: 0.8rem;              
  font-size: 0.9rem;        
  color: var(--primary-color);
  margin-bottom: 1rem;  
  line-height: 1; 
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.checkbox-group input[type="checkbox"] {
  display: none;
}

.checkbox-group .custom-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.13rem solid var(--primary-color);
  border-radius: 0.25rem;
  position: relative;
}

.checkbox-group input[type="checkbox"]:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.8rem;
  border: solid var(--primary-color);
  border-width: 0 0.13rem 0.13rem 0;
  transform: rotate(45deg);
}

.checkbox-group a {
  text-decoration: underline;   
  color: var(--primary-color);  
  margin-left: 0.2rem;                 
}

.checkbox-group .error {
  display: block;
  margin-left: 1.25rem; 
  font-size: 0.75rem;
}


.btn-primary {
  width: 100%;
  padding: 0.88rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: var(--second-color);
}

.btn-primary:active {
    background-color: #8734C9;
}

.registro-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem; 
  margin-top: 0.95rem;
}

.registro-links a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: normal;
}