.resultados_principal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 15px;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  max-width: 1400px;
}


.div_sidebarfiltros {
  width: 450px;
  flex-shrink: 0;
  position: sticky;
  top: 20px; /* altura desde el top de la ventana */
  align-self: flex-start; /* necesario para flex */
}


.div_contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 2rem;
}

/* Ajustes para la lista */
.caja_listaresultados {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 900px;
}