.caja_sidebarfiltros{
    color: var(--primary-color);
    width: 100%;
    max-width: 500px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.h2titulo, .h4subtitulos{
    font-weight: bold;
}

.precio-wrapper,
.horarios-wrapper{
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.preciomaximo, .preciominimo,
.input_inicio, .input_fin, .input_fecha{
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  flex: 1;
  min-width: 0;
  padding: 0.4rem;
  box-sizing: border-box;
}

.boton_aplicar{
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 1rem;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 768px){
  .caja_sidebarfiltros{
    padding-top: 10px;
  }
  .precio-wrapper, .horarios-wrapper{
    flex-direction: column;
  }
}