.search-bar-container {
    display: flex;
    background-color: white;
    border-radius: 50px;
    padding: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 0.5rem;
}
.search-input-wrapper {
    display: flex;
    align-items: center;
    border-right: 1px solid #ddd;
    padding: 0 1rem;
    flex-grow: 1;
}
.search-input-wrapper.capacity {
    flex-grow: 0;
    min-width: 120px;
}

.search-input-wrapper.capacity .search-input{
    max-width: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
}
.search-input-wrapper span {
    color: #555;
    margin-left: 0.5rem;
}
.search-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.search-button:hover {
    background-color: #5a1a8b;
}