.search-bar-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barras_searchbar{
 border: solid var(--primary-color) 1px ;
 border-radius: 12%;
 color:var(--primary-color);
 display: flex;
 align-items: center;
 padding: 0.3rem 0.5rem;
  border-radius: 10px;
  width: 40%;
}
.barras_searchbar input {
  border: none;
  width: 100%;   
  outline: none;
  height: 2rem;
  padding-left: 0.4rem; 
}
.barras_searchbar input::placeholder{
    color: var(--primary-color);
}

.barras_searchbar input{
    border: none;
    width: 100%;
}
.barra_buscar{
    background-color: var(--primary-color);
    font-weight:500;
    justify-content: center;  
    border-radius: 10px;
    padding: 0.4rem 1rem;
    width: 14%;
    align-items: center;      
}
.boton_buscar{
    background: none;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
}
.sugerencias-lista {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.sugerencias-lista li {
  padding: 8px 12px;
  cursor: pointer;
}

.sugerencias-lista li:hover {
  background-color: #f0f0f0;
}