.main-admin-content {
  height: 85%;
  width: 100%;
  padding: 1.875rem 2.5rem; /* 30px 40px */
  box-sizing: border-box;
  overflow-y: auto;
}

.admin-panel {
  background-color: #ffffff;
  padding: 1.5625rem; /* 25px */
  border-radius: 0.5rem; /* 8px */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05); /* 0 2px 4px */
}

.panel-title {
  font-size: 1.5em;
  color: var(--primary-color);
  margin: 0 0 1.5625rem 0; /* 25px */
  padding-bottom: 0.9375rem; /* 15px */
  font-weight: 600;
}

.details-container {
  margin-top: 1.5625rem; /* 25px */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 2.5rem; /* 20px 40px */
}

.detail-item {
  margin: 0;
}

.detail-item strong {
  display: block;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.3125rem; /* 5px */
}

.detail-item span {
  color: var(--second-color);
}

/* --- ESTILOS RESPONSIVOS --- */
@media (max-width: 900px) {
  .main-admin-content {
    padding: 1rem 1.5rem; /* Reducimos el padding en móvil */
    height: 100%; 
  }
}

@media (max-width: 600px) {
  .details-container {
    grid-template-columns: 1fr; /* Cambiamos a una sola columna */
    gap: 1.5rem; /* Ajustamos el espacio entre ítems */
  }

  .panel-title {
    font-size: 1.3em;
    text-align: center;
  }

  .admin-panel {
    padding: 1rem;
  }
}
