body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container {
  background-color: #fff;
  border: 0.125rem solid var(--primary-color);
  border-radius: 1.25rem;
  padding: 2.5rem 1.875rem;
  width: 100%;
  max-width: 21.875rem;
  height: 28.125rem;
  box-shadow: 0 0 0.95rem rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.2rem;
}

h1 {
  color: var(--primary-color);
  font-size: 1.7rem;
  margin-bottom: 1.875px;
}

.login-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: center;
}

.form-group input {
    padding: 0.625rem;
    font-size: 1rem;
}

.form-group button {
    margin-left: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;
}

.login-form input {
  width: 100%;
  padding: 10px 0 10px 5px; 
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  color: var(--primary-color);
}

.login-form input::placeholder {
  font-style: italic;
  font-size: 1rem;
  color: rgba(106, 13, 173, 0.3); 
}

.password-group {
    position: relative;
}

.password-group input {
    width: 90%;
    padding-right: 2rem;
}

.password-group .toggle {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1rem;
}

.btn-primary {
  width: 100%;
  padding: 0.875rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.25rem;
}

.btn-primary:hover {
  background-color: var(--second-color);
}

.btn-primary:active {
    background-color: #8734C9;
}

.login-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem; 
  margin-top: 0.95rem;
}

.login-links a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: normal;
}

