:root {
  --font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-background: #f4f4f9;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-button-bg: #1a1a1a;

  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: #213547;
    --color-primary-hover: #747bff;
    --color-button-bg: #f9f9f9;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none; 
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-primary-hover);
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  color: var(--color-text);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}