.lista-reglas {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
  padding: 0;
  list-style: none;
}

.lista-reglas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  padding: 0rem 0.75rem;
  border-radius: 6px;
}

.texto-regla {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 500;
}

.btn-remove {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}
